{% extends "base.html.twig" %}

{% block body  %}

    <div id="jumbotron-home" class="jumbotron text-center">
        <div class="jumbotron-title">
            <h1>Agence Immobilière</h1>
            <p>
                Site réalisé avec Symfony 5 et le moteur de template twig, les images proviennent du site https://unsplash.com et sont libre de droit
            </p>
        </div>
    </div>
    <div id="homepage" class="container">
        <h2 class="text-center" >Derniers biens</h2>
        <div class="row flex">
            {% for property in properties %}
            <div class="col-lg-3 col-md-6 mt-2 col-xs-12 ">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title text-center">
                            <a href="{{ path('property_show', {'id' : property.id }) }}">{{ property.title}}</a>
                        </h5>
                        <p class="card-text text-center">
                            {{property.address}}
                            ({{property.postalCode}})
                        </p>
                        <div class="text-primary text-center">
                            {{property.formattedPrice}} €
                        </div>
                    </div>
                </div>
                
            </div>
            {% endfor %}
        </div>

    </div>

{% endblock %}